* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

div#navLinks {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.8rem;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 18px;
    color: #0F241B;
    line-height: 28px;
    font-weight: 700;
    font-family: PT Serif;
    margin-top: 7px;
}

div.tab-container {
    margin-top: 30px;
}

div.tab-content_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
    background-color: #F0F4F2;
    border-radius: 8px;
    padding: 6px;
    max-width: 80vw;
}

.tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.tabs a {
    font-weight: 500;
    font-size: 14px;
    display: block;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tabs :nth-child(1) a{
    color: #0F241B;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 40px;
    width: 137px;
    height: 42px;
    text-align: center;
    font-weight: 500;
    font-family: Cerebri Sans;
    font-size: 14px;
    line-height: 20px;
}

.tabs :nth-child(2) a {
    color: #4B6358;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    font-family: Cerebri Sans;
}

.tabs_item:first-child {
    display: block;
}

/* Faq Section */
div.box, div.food-container, 
div.house-container, 
div.footer-section, 
div.house-icon_container, 
div.tab-container {
    padding-left: 4rem;
    padding-right: 4rem;
}

div.img {
    position: absolute;
    bottom: -3px;
    right: 0;
}

div.green-container {
    position: relative;
    background-color: #03A84E;
    padding: 10px 30px;
    border-radius: 10px;
    height: 100px;
    border: 2px solid #6ECE8A;
    padding-bottom: 100px;
    margin-top: 30px;
}

div.green-container h3 {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: Cerebri Sans;
    margin-top: 7px;
    font-weight: 500;
}

div.green-container p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    margin-top: 7px;
    font-family: Cerebri Sans;
}

/* Food */
div.wrapper {
    background-color: #F6FFFA;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #6ECE8A;
    margin-top: 30px;
}

div.food-box {  
    display: flex;
    place-items: center;
    justify-content: space-between;
}

div.icon,
div.icon-2 {
    display: flex;
   
}

div.icon-2 {
    background-color: #E9FBF2;
    border-radius: 30px;
    padding: 5px 10px;
}

div.text1 h4 {
    font-size: 16px;
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 24px;
    color: #03A84E;
}

div.text a {
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    color: #03A84E;
    text-align: center;
    text-decoration: none;
}

div.image-container, div.clock-container {
    display: flex;
    margin-top: 15px;
}

div.image-text {
    margin-left: 20px;
    margin-top: 0px;
}

div.image-text p {
    color: #4B6358;
    font-size: 14px;
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 20px;
}

div.image-text h6 {
    color: #0F241B;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 2px;
    font-family: Cerebri Sans;
}

div.line {
    height: 1px;
    background-color: #BDEECD;
    margin-top: 15px;
}

div.clock-text {
    margin-left: 6px;
    margin-top: 1px;
}

div.clock-text h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-family: Cerebri Sans;
    color: #1D352A;
}

/* House Section */
div.wrapper1 {
    background-color: #FFFBF5;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #FFC260;
    margin-top: 30px;
}

div.food-box1 {
    display: flex;
    place-items: center;
    justify-content: space-between;
}

div.icon1,
div.icon-3 {
    display: flex;

}

div.icon-3 {
    background-color: #FFF3DF;
    border-radius: 30px;
    padding: 5px 10px;
}

div.text1 {
    margin-top: 3px;
}

div.text2 h4 {
    font-size: 16px;
    color: #FF9D00;
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 24px;
}

div.text1 a {
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: Cerebri Sans;
    color: #FF9D00;
    text-align: center;
}

div.line1 {
    background-color: #FFDA9F;
    margin-top: 15px;
    height: 1px;
}

div.line2 {
    background-color: #F5E5F0;
    margin-top: 50px;
    height: 1px;
}

/* Footer Section */
div.house-icon_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

div.house-icon_container ul li{
    margin-left: 15px;
    list-style: none;
}

div.house-icon_container ul li a{
    text-decoration: none;
}

div.house-icon_container ul li a h6{
    color: #8AA398;
    font-size: 12px;
    margin-top: 7px;
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 16px;
}

div.hamburger {
    display: none;
}

a#call {
    text-decoration: none;
}


@media screen and (max-width: 768px) {
   div.back {
    display: none;
   } 

   div.box, div.food-container, 
   div.house-container, 
   div.footer-section, 
   div.house-icon_container, 
   div.navLinks, 
   div.tab-container {
       padding-left: 1rem;
       padding-right: 1rem;
   }

   div.header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
        padding-left: 1rem;
   }

   div.hamburger {
       display: block;
       height: 15px;
       width: 25px;
       position: fixed;
       top: 17px;
       left: 20px;
       z-index: 2;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
   }

   .tabs {
       max-width: 90vw;
   }
}

@media screen and (max-width: 320px) {
    div.green-container h3 {
        font-size: 14px;
        margin-top: 5px;
    }

    div.green-container p {
        font-size: 12px;
        margin-top: 4px;
    }

    div.wrapper, div.wrapper1 {
        padding: 10px;
    }

    div.text1 h4, div.text2 h4 {
        font-size: 14px;
    }

    div.text a, div.text1 a {
        font-size: 10px;
    }

    div.icon-3 {
        padding: 7px;
    }
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: opacity 0.3s ease;
    transform: scale(1);
    
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 450px;
    transition: all 0.3s ease;
    animation: blowUpModal 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


.modal.active .modal-content {
    transform: scale(1);
}

.modal.active {
    display: flex;
    opacity: 1;
}


@keyframes blowUpModal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(0.8);
    }
}

.close-btn {
    float: right;
    cursor: pointer;
}

/* Second Modal */
div.flex {
    display: flex;
    justify-content: space-between;
}

div.flex p {
    color: #4B6358;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-family: Cerebri Sans;
}

div.order-flex {
    display: flex;
    margin-top: 20px;
}

div.order-flex img {
    width: 40px;
}

div.order-flex p {
    color: #4B6358;
    font-size: 14px;
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 16px;
}

div.order-flex h2 {
    color: #0F241B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Cerebri Sans;
}

div.delivery-box {
    border-radius: 8px;
    border: 1px dashed #CBD8D2;
    padding: 20px;
    margin-top: 20px;
}

div.delivery-box p {
    color: #4B6358;
    font-size: 12px;
    font-family: Cerebri Sans;
    line-height: 16px;
    font-weight: 400;
}

div.delivery-box p:nth-child(2) {
    color: #0F241B;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 7px;
    font-family: Cerebri Sans;
}

div.dotted-line {
    height: 1px;
    border: 1px dashed #CBD8D2;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.status-box {
    display: flex;
    margin-top: 30px;
}

div.status-box1 {
    display: flex;
    margin-top: 0px;
}

div.img2,
div.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.status-content1,
div.status-content2 {
    display: flex;
    justify-content: space-between;
}

div.status-content1 h3 {
    color: #0F241B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Cerebri Sans;
}

div.time1 p {
    color: #4B6358;
    font-size: 12px;
    line-height: 16px;
    font-family: Cerebri Sans;
    font-weight: 400;
}

div.status-content1 p.text {
    color: #03A84E;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
    font-family: Cerebri Sans;
}

div.status-content2 {
    margin-top: 24px;
    padding-bottom: 10px;
}

div.status-content2 h3 {
    color: #0F241B;
    font-size: 16px;
    line-height: 24px;
    font-family: Cerebri Sans;
    font-weight: 400;
}

div.time1 {
    margin-top: 0px;
}

div.time1 p {
    color: #4B6358;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: Cerebri Sans;
}

div.status-content2 p.text1 {
    color: #4B6358;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 5px;
    font-family: Cerebri Sans;
}

div.margin h3 {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    div.modal-container {
        padding: 1rem;
    }

    div.margin h3 {
        margin-top: 8px;
    }

    div.time1 {
        margin-top: 8px;
    }
}