* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Cerebri Sans;

}

html {
    scroll-behavior: smooth;
}

div#navLinks {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.8rem;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

h2 {
    font-size: 1.3rem;
    color: #0F241B;
    font-family: PT Serif;
}

div.tab-container {
    margin-top: 40px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
    background-color: #F0F4F2;
    border-radius: 10px;
    padding: 10px 20px;
}

.tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.tabs a {
    font-weight: 600;
    font-size: 1rem;
    display: block;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tabs :nth-child(1) a{
    color: #0F241B;
    background-color: #fff;
    border-radius: 10px;
    width: 137px;
    height: 42px;
    text-align: center;
}

.tabs :nth-child(2) a {
    color: #4B6358;
    text-align: center;
}

.tabs_item:first-child {
    display: block;
}

/* Faq Section */
div.box, div.food-container, 
div.house-container, 
div.footer-section, 
div.house-icon_container, 
div.tab-container {
    padding-left: 4rem;
    padding-right: 4rem;
}

div.img {
    position: absolute;
    bottom: -3px;
    right: 0;
}

div.green-container {
    position: relative;
    background-color: #03A84E;
    padding: 10px 30px;
    border-radius: 10px;
    height: 100px;
    border: 2px solid #6ECE8A;
    padding-bottom: 100px;
    margin-top: 30px;
}

div.green-container h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: normal;
}

div.green-container p {
    font-size: 0.9rem;
    color: #fff;
    margin-top: 10px;
}

/* Food */
div.wrapper {
    background-color: #F6FFFA;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #6ECE8A;
    margin-top: 30px;
}

div.food-box {  
    display: flex;
    place-items: center;
    justify-content: space-between;
}

div.icon,
div.icon-2 {
    display: flex;
   
}

div.icon-2 {
    background-color: #E9FBF2;
    border-radius: 30px;
    padding: 5px 10px;
}

/* div.text {
    margin-top: 3px;
} */

div.text1 h4 {
    font-size: 1rem;
    color: #03A84E;
}

div.text a {
    font-size: 0.8rem;
    color: #03A84E;
    text-align: center;
    text-decoration: none;
}

div.image-container, div.clock-container {
    display: flex;
    margin-top: 15px;
}

div.image-text {
    margin-left: 20px;
    margin-top: 7px;
}

div.image-text p {
    color: #4B6358;
    font-size: 0.8rem;
}

div.image-text h6 {
    color: #0F241B;
    font-size: 1rem;
    margin-top: 5px;
}

div.line {
    height: 1px;
    background-color: #BDEECD;
    margin-top: 15px;
}

div.clock-text {
    margin-left: 6px;
    margin-top: 1px;
}

div.clock-text h6 {
    font-size: 0.8rem;
    color: #1D352A;
}

/* House Section */
div.wrapper1 {
    background-color: #FFFBF5;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #FFC260;
    margin-top: 30px;
}

div.food-box1 {
    display: flex;
    place-items: center;
    justify-content: space-between;
}

div.icon1,
div.icon-3 {
    display: flex;

}

div.icon-3 {
    background-color: #FFF3DF;
    border-radius: 30px;
    padding: 5px 10px;
}

div.text1 {
    margin-top: 3px;
}

div.text2 h4 {
    font-size: 1rem;
    color: #FF9D00;
}

div.text1 a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #FF9D00;
    text-align: center;
}

div.line1 {
    background-color: #FFDA9F;
    margin-top: 15px;
    height: 1px;
}

div.line2 {
    background-color: #F5E5F0;
    margin-top: 50px;
    height: 1px;
}

/* Footer Section */
div.house-icon_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

div.house-icon_container ul li{
    margin-left: 15px;
    list-style: none;
}

div.house-icon_container ul li a{
    text-decoration: none;
}

div.house-icon_container ul li a h6{
    color: #8AA398;
    font-size: 1rem;
    margin-top: 7px;
}

div.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
   div.back {
    display: none;
   } 

   div.box, div.food-container, div.house-container, div.footer-section, div.house-icon_container, div.navLinks, div.tab-container {
       padding-left: 1rem;
       padding-right: 1rem;
   }

   div.image-text h6, div.text2 h4 {
       font-size: 0.9rem;
   }

   div.par p{
    font-size: 0.8rem;
   }

   div.green-container p {
       font-size: 0.8rem;
   }

   div.header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
        padding-left: 1rem;
   }

   div.hamburger {
       display: block;
       height: 15px;
       width: 25px;
       position: fixed;
       top: 17px;
       left: 20px;
       z-index: 2;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
   }

   div.house-icon_container ul li a h6 {
       font-size: 0.9rem;
   }

   div.hamburger .line {
       display: block;
       height: 2px;
       width: 100%;
       border-radius: 10px;
       background: #3f7270;
   }

   div.hamburger .line1 {
       width: 17px;
   }

   div.hamburger .line2 {
       width: 17px;
   }

   div.hamburger .line3 {
       width: 17px;
   }

   h2 {
       text-align: center;
   }
}