* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

div#wrapper {
    background-color:#FFF8E1;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    place-content: center;
    place-items: center;
}

div#wrapper h1 {
    color: #0F241B;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-family: PT Serif;
    font-weight: 700;
}

div#wrapper div.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

div#wrapper div.link a {
    text-decoration: none;
    background-color: #03A84E;
    color: #e0eae4;
    padding: 12px 16px 12px 16px;
    border: none;
    outline: none;
    border-radius: 36px;
    text-align: center;
    font-size: 16px;
    font-family: Cerebri Sans;
    width: 279px;
    height: 48px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    div#wrapper h1 {
        padding: 1rem;
    }
}