* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Cerebri Sans;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0F241B;
}

div.modal-container {
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.modal-container_box {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 450px;
}

div.flex {
    display: flex;
    justify-content: space-between;
}

div.flex p {
    color: #4B6358;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

div.order-flex {
    display: flex;
    margin-top: 20px;
}

div.order-flex p {
    color: #4B6358;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

div.order-flex h2{
    color: #0F241B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 4px;
}

div.delivery-box {
    border-radius: 8px;
    border: 1px dashed #CBD8D2;
    padding: 15px;
    margin-top: 30px;
}

div.delivery-box p {
    color: #4B6358;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

div.delivery-box p:nth-child(2) {
    color: #0F241B;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 7px;
}

div.status-box {
    display: flex;
    margin-top: 30px;
}

div.img2, div.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.status-content1, div.status-content2 {
    display: flex;
    justify-content: space-between;
}

div.status-content1 h3 {
    color: #0F241B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

div.time1 {
    margin: 0;
}

div.time1 p{
   color: #4B6358;
   font-size: 12px;
   font-weight: 400;
   line-height: 16px;
}

div.status-content1 p.text {
    color: #4B6358;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 5px;
}

div.status-content2 {
    margin-top: 20px;
    padding-bottom: 10px;
}

div.status-content2 h3 {
    color: #0F241B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

div.time1 {
    margin: 0;
}

div.time1 p {
    color: #4B6358;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

div.status-content2 p.text1 {
    color: #4B6358;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    background-color: blue;
    padding: 20px;
    border-radius: 5px;
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.modal.active {
    display: flex;
    opacity: 1;
}

.modal.active .modal-content {
    transform: scale(1);
}

@media screen and (max-width: 768px) {
    div.modal-container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}