* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

div#wrapper {
    padding: 4rem;
    display: grid;
    grid-template-columns: 10% 80%;
}

h2 {
    color: #0F241B;
    font-size: 16px;
    text-align: center;
    font-family: Cerebri Sans;
    font-weight: 400;
    margin-top: 7px;
}

div.progress-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
}

div.progress-image img {
    width: 100%;
    /* height: 20vh; */
    max-width: 500px;
}

/* div.progress-bar_section {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
}

div.progress-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 1rem 0 4rem;
}

div.progress-section::before, div.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

div.progress {
    background-color: #03A84E;
    width: 0%;
    transition: 0.3s;
}

div.progress-step {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
}

div.progress-step::before {
    counter-increment: step;
    content: counter(step);
    position: relative;
    bottom: -10px;
    left: 12px;
    color: #cfeddc;
    font-size: 12px;
    font-family: Cerebri Sans;
    font-weight: 400;
}

div.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 12px;
    color: #0F241B;
    font-family: Cerebri Sans;
}

.progress-step-active {
    background-color: #089046;
}

.progress-step-active1 {
    background-color: #03A84E;
}

.progress-step-inactive {
    background-color: #dbebe2;
    color: #0F241B;
    font-size: 12px;
    text-align: center;
} */

/* Container Section */
div.container-heading {
    padding-left: 4rem;
    padding-right: 4rem;
}

div.container-heading h1{
    font-size: 20px;
    color: #0F241B;
    font-family: PT Serif;
    font-weight: 700;
}

div.container-heading p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #4B6358;
    font-family: Cerebri Sans;
}
/* Plan Details Section */
div.plan-heading {
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

div.plan-heading h5 {
    color: #0F241B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Cerebri Sans;
}

div.plan-heading a {
    color: #03A84E;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
    font-family: Cerebri Sans;
}

div.line {
    height: 1px;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: #CBD8D2;
}

/* Food Plan Section  */
div.food-plan_container {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 30px;
}

div.details {
    background-color: #E9FBF2;
    border-radius: 10px;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    place-items: center;
    justify-content: space-between;
}

div.details1 {
    background-color: #E5E9FC;
    border-radius: 10px;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    place-items: center;
    justify-content: space-between;
}

div.details2 {
    background-color: #FFF3DF;
    border-radius: 10px;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    place-items: center;
    justify-content: space-between;
}

div.details3 {
    background-color: #FBE7F2;
    border-radius: 10px;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    place-items: center;
    justify-content: space-between;
}

div.icon, div.icon-2 {
    display: flex;
}

div.icon h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #0F241B;
    font-family: Cerebri Sans;
}

div.icon p {
    margin-top: 7px;
    font-size: 14px;
    color: #4B6358;
    font-weight: 400;
    line-height: 20px;
    font-family: Cerebri Sans;
}

div.icon img {
    margin-top: 1px;
}

div.icon-2 {
    margin-bottom: 1.7rem;
}

div.icon-2 h4 {
    color: #4B6358;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: Cerebri Sans;
}

div.line1 {
    height: 1px;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: #CBD8D2;
}

/* Date Section */
div.choose {
    padding-left: 4rem;
    padding-right: 4rem;
}

div.yellow-box {
    background-color: #FFFDF5;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #FFEBB2;
    display: flex;
}

div.yellow-box p {
    color: #0F241B;
    line-height: 20px;
    font-size: 14px;
    margin-left: 10px; 
    font-weight: 500; 
    font-family: Cerebri Sans;
}

/* Discount Section */

div.discount-container, div.lists-container {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 25px;
}

div.discount-header {
    padding: 4rem 0rem;
}

h5.discount-header{
    color: #0F241B;
    font-size: 16px;
    font-weight: 400;
    font-family: Cerebri Sans;
    line-height: 24px;
}

div.discount-flex {
    display: flex;
    justify-content: space-between;
    place-items: center;
    margin-top: 20px;
}

div.discount-flex p {
    font-size: 14px;
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 20px;
}

div.discount-btn button {
    background-color: transparent;
    border: 1px solid #E2E9E6;
    padding: 10px 20px;
    border-radius: 32px;
    color: #0F241B;
    text-align: center;
    font-size: 14px;
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    outline: none;
}

div.line2 {
    background-color: #03A84E;
    height: 1px;
    margin-top: 0.6rem;
}

p.code {
    font-size: 12px;
    color: #03A84E;
    margin-top: 7px;
    line-height: 16px;
    font-family: Cerebri Sans;
    font-weight: 400;
}

/* Total Section */
div.lists1, div.lists2, div.lists3 {
    display: flex;
    justify-content: space-between;
    place-items: center
}

ul li {
    list-style: none;
    margin-top: 20px;
    font-size: 14px;
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 20px;
    color: #0F241B;
}

ul li.negative {
    color: #03A84E;
    font-size: 14px;
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 20px;
}

ul.total li {
    color: #0F241B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Cerebri Sans;
}

p.total-text {
    text-align: right;
    margin-top: 7px;
    font-size: 12px;
    color: #4B6358;
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 16px;
}

/* Subscription Section */
div.choose1 {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 30px;
}

div.yellow-box1 {
    background-color: #F9FBFA;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #CBD8D2;
    display: flex;
}

div.yellow-box1 p {
    color: #0F241B;
    font-size: 14px;
    margin-left: 10px;
    font-family: Cerebri Sans;
    font-weight: 400;
    line-height: 20px;
}

/* Frequency Section */
div.frequency-container {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

div.frequency-container a {
    text-decoration: none;
    background-color: #03A84E;
    color: #fff;
    padding: 15px 40px;
    border: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: Cerebri Sans;
    line-height: 24px;
}

/* Footer Section */
div.footer-container {
    margin-top: 30px;
    padding-bottom: 20px;
    padding-left: 4rem;
    padding-right: 4rem;
}

footer {
    text-align: center;
    color: #0F241B;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: Cerebri Sans;
}

footer a {
    color: #03A84E; 
}

input {
    margin: 10px;
}

.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.additional-info {
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.additional-info p {
    margin: 10px 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.additional-info:not(.hidden) {
    max-height: 100px;
}

.icon-2 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-2 img {
    margin-top: 5px;
    transition: transform 0.3s ease-out;
}

.additional-info:not(.hidden)~.icon-2 img {
    transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
    /* div.progress-bar_section {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
    } */

    div.progress-image {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
    }

    div#wrapper {
        padding: 2rem;
    }

    div.container-heading {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    div.plan-heading {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    div.line {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    div.food-plan_container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    div.choose, div.choose1 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    div.line1 {
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    div.discount-container, div.lists-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    div.frequency-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    div.frequency-container a {
        width: 100%;
    }

    div.footer-container {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 375px) {
    div.food-plan_container, div.container-heading, div.plan-heading, div.frequency-container, div.footer-container, div.discount-container,
        div.lists-container, div.choose, div.progress-bar_section,
        div.choose1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

         div.progress-image {
             padding-left: 1rem;
             padding-right: 1rem;
             padding-bottom: 1rem;
         }
}

@media screen and (max-width: 320px) {
    div#wrapper {
        padding: 1rem;
    }

    div.plan-heading a {
        font-size: 12px;
    }

    div.plan-heading h5 {
        font-size: 14px;
    }

    div.discount-btn button {
        padding: 10px;
        font-size: 12px;
    }
}